min-max 정규화  

최소값을 0, 최대값을 1 로 하여 범위를 0~1로 변환 

<img src='./images/min-max-scaling.png' align='left'>

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
df = pd.DataFrame(data, columns=['a','b'])
colnames = df.columns

scaler = MinMaxScaler()
# min-max 값 학습
scaler.fit(df)

# min-max scaling 수행
print(scaler.transform(df))
new_colnames = [i+'_mms' for i in colnames] 
# dataframe으로 minmax scaling 된 것과 변환전 데이터 같이 나타내기
pd.concat([df, pd.DataFrame(scaler.fit_transform(df[colnames]), columns=new_colnames)], axis=1)

[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

     a   b  a_mms  b_mms
0 -1.0   2   0.00   0.00
1 -0.5   6   0.25   0.25
2  0.0  10   0.50   0.50
3  1.0  18   1.00   1.00